### 대여가능 재고 빅쿼리 업로드 전 컬럼통일 22_23_24 전처리
공공데이터를 빅쿼리 업로드 전 전처리를 진행했습니다. raw_data 중 대용량 데이터는 github 업데이트 제외

In [1]:
import pandas as pd

first_df = pd.read_csv('./data/raw_data/22.03.csv', encoding='cp949')

In [2]:
print(first_df.columns)

Index(['일시', '대여소번호', '대여소명', '시간대', '거치대수량'], dtype='object')

In [3]:
first_df.columns = ['Date', 
              'Rental_location_number', 
              'Name_of_the_rental_location', 
              'Time',
              'Num_of_available_bikes']

In [4]:
first_df

,Date,Rental_location_number,Name_of_the_rental_location,Time,Num_of_available_bikes
0,2022-03-01,102,102. 망원역 1번출구 앞,0,19
1,2022-03-01,102,102. 망원역 1번출구 앞,1,17
2,2022-03-01,102,102. 망원역 1번출구 앞,2,19
3,2022-03-01,102,102. 망원역 1번출구 앞,3,19
4,2022-03-01,102,102. 망원역 1번출구 앞,4,20
...,...,...,...,...,...
186150,2022-03-03,5852,5852. 대림동현대2차 201동 앞,19,1
186151,2022-03-03,5852,5852. 대림동현대2차 201동 앞,20,1
186152,2022-03-03,5852,5852. 대림동현대2차 201동 앞,21,1
186153,2022-03-03,5852,5852. 대림동현대2차 201동 앞,22,1
186154,2022-03-03,5852,5852. 대림동현대2차 201동 앞,23,1

In [33]:
second_df = pd.read_csv('./data/raw_data/서울특별시_대여소별 공공자전거 대여가능 수량(1시간 단위)_2023년도_4분기/data_231216~231231.csv', encoding='cp949')

In [34]:
second_df.columns = ['Date', 
              'Rental_location_number', 
              'Name_of_the_rental_location', 
              'Time',
              'Num_of_available bikes']

In [35]:
second_df

,Date,Rental_location_number,Name_of_the_rental_location,Time,Num_of_available bikes
0,2023-12-16,103,103. 망원역 2번출구 앞,0,26
1,2023-12-16,104,104. 합정역 1번출구 앞,0,21
2,2023-12-16,105,105. 합정역 5번출구 앞,0,6
3,2023-12-16,106,106. 합정역 7번출구 앞,0,3
4,2023-12-16,107,107. 신한은행 서교동지점,0,4
...,...,...,...,...,...
6265925,2023-12-31,6053,6053. 중부세무서 앞,23,0
6265926,2023-12-31,6054,6054.청구e편한세상아파트 113동 앞,23,5
6265927,2023-12-31,6055,6055. 한국경제,23,12
6265928,2023-12-31,6171,6171. 월드빌딩 앞,23,0
6265929,2023-12-31,6172,6172. 가양5단지아파트,23,9

In [36]:
result = pd.concat([first_df, second_df], axis=0)

In [37]:
result

,Date,Rental_location_number,Name_of_the_rental_location,Time,Num_of_available bikes
0,2023-12-01,103,103. 망원역 2번출구 앞,0,21
1,2023-12-01,104,104. 합정역 1번출구 앞,0,8
2,2023-12-01,105,105. 합정역 5번출구 앞,0,15
3,2023-12-01,106,106. 합정역 7번출구 앞,0,2
4,2023-12-01,107,107. 신한은행 서교동지점,0,2
...,...,...,...,...,...
6265925,2023-12-31,6053,6053. 중부세무서 앞,23,0
6265926,2023-12-31,6054,6054.청구e편한세상아파트 113동 앞,23,5
6265927,2023-12-31,6055,6055. 한국경제,23,12
6265928,2023-12-31,6171,6171. 월드빌딩 앞,23,0
6265929,2023-12-31,6172,6172. 가양5단지아파트,23,9

In [38]:
result.to_csv('./data/preprocessed_data/available_bikes/Num_of_available_bikes_12.csv', encoding='utf-8', index=False)

In [39]:
check = pd.read_csv('./data/preprocessed_data/available_bikes/Num_of_available_bikes_11.csv')

In [40]:
check

,Date,Rental_location_number,Name_of_the_rental_location,Time,Num_of_available bikes
0,2023-11-01,103,103. 망원역 2번출구 앞,0,21
1,2023-11-01,104,104. 합정역 1번출구 앞,0,0
2,2023-11-01,105,105. 합정역 5번출구 앞,0,0
3,2023-11-01,106,106. 합정역 7번출구 앞,0,1
4,2023-11-01,107,107. 신한은행 서교동지점,0,7
...,...,...,...,...,...
11720851,2023-11-30,5871,5871. 건영상가 앞,23,17
11720852,2023-11-30,6053,6053. 중부세무서 앞,23,1
11720853,2023-11-30,6054,6054.청구e편한세상아파트 113동 앞,23,12
11720854,2023-11-30,6055,6055. 한국경제,23,12
11720855,2023-11-30,6171,6171. 월드빌딩 앞,23,12

In [41]:
check.isnull().sum()

Date                           0
Rental_location_number         0
Name_of_the_rental_location    0
Time                           0
Num_of_available bikes         0
dtype: int64

### 대여이력정보 빅쿼리 업로드 전 컬럼통일_22_23_24 전처리

In [1]:
import pandas as pd
df_23 = pd.read_csv('./data/raw_data/서울특별시 공공자전거 대여이력 정보_2402.csv',encoding ='cp949')

In [2]:
print(df_23.columns)

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간(분)', '이용거리(M)', '생년', '성별', '이용자종류', '대여대여소ID',
       '반납대여소ID', '자전거구분'],
      dtype='object')

In [6]:
import pandas as pd

df = pd.read_csv('./data/preprocessed_data/Rental_usage_history_2403.csv')

In [7]:
df.head()

,Bike_number,Date_and_time_of_rental,Rental_location_number,Name_of_the_rental_location,Rental_rack,Return_date,Return_rack_number,Return_Location_Name,Return_Location,Usage_Time_min,Usage_Distance_m,Date_of_Birth,Gender,User_Type,Rental_Location_ID,Return_Location_ID
0,SPB-35157,2024-03-01 00:00:02,3421,혜화역 1번출구,0,2024-03-01 00:02:03,00340,혜화동 로터리,0,2,253.07,1997,M,내국인,ST-1818,ST-156
1,SPB-48978,2024-03-01 00:01:32,1149,신방화역환승주차장,0,2024-03-01 00:03:17,01163,방화동강서기동대앞,0,1,400.00,1993,M,내국인,ST-975,ST-1254
2,SPB-65641,2024-03-01 00:02:22,4028,한일유앤아이아파트 105동 인근,0,2024-03-01 00:03:53,01666,노원소방서인근,0,1,230.00,2007,M,내국인,ST-2717,ST-1283
3,SPB-52550,2024-03-01 00:00:03,903,은평뉴타운 아이파크,0,2024-03-01 00:03:58,00904,은평뉴타운 푸르지오,0,3,390.00,2004,M,내국인,ST-451,ST-452
4,SPB-39705,2024-03-01 00:00:11,1124,발산역 6번 출구 뒤,0,2024-03-01 00:04:23,01117,등촌5단지아파트 버스정류장,0,4,463.16,1983,M,내국인,ST-522,ST-834

In [8]:
df.columns

Index(['Bike_number', 'Date_and_time_of_rental', 'Rental_location_number',
       'Name_of_the_rental_location', 'Rental_rack', 'Return_date',
       'Return_rack_number', 'Return_Location_Name', 'Return_Location',
       'Usage_Time_min', 'Usage_Distance_m', 'Date_of_Birth', 'Gender',
       'User_Type', 'Rental_Location_ID', 'Return_Location_ID'],
      dtype='object')

In [29]:
print(df_23.columns)

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간(분)', '이용거리(M)', '생년', '성별', '이용자종류', '대여대여소ID',
       '반납대여소ID', '자전거구분'],
      dtype='object')

In [3]:
df_23.columns = ['Bike_number',
'Date_and_time_of_rental',
'Rental_location_number',
'Name_of_the_rental_location',
'Rental_rack',
'Return_date',
'Return_rack_number',
'Return_Location_Name',
'Return_Location',
'Usage_Time_min',
'Usage_Distance_m',
'Date_of_Birth',
'Gender',
'User_Type',
'Rental_Location_ID',
'Return_Location_ID',
'delete']

In [4]:
df_23 = df_23.drop(columns='delete')

In [5]:
df_23.columns

Index(['Bike_number', 'Date_and_time_of_rental', 'Rental_location_number',
       'Name_of_the_rental_location', 'Rental_rack', 'Return_date',
       'Return_rack_number', 'Return_Location_Name', 'Return_Location',
       'Usage_Time_min', 'Usage_Distance_m', 'Date_of_Birth', 'Gender',
       'User_Type', 'Rental_Location_ID', 'Return_Location_ID'],
      dtype='object')

In [6]:
df_23.to_csv('./data/preprocessed_data/Rental_usage_history_2402.csv', encoding='utf-8', index=False)

In [7]:
check = pd.read_csv('./data/preprocessed_data/Rental_usage_history_2402.csv')

In [8]:
check.head()

,Bike_number,Date_and_time_of_rental,Rental_location_number,Name_of_the_rental_location,Rental_rack,Return_date,Return_rack_number,Return_Location_Name,Return_Location,Usage_Time_min,Usage_Distance_m,Date_of_Birth,Gender,User_Type,Rental_Location_ID,Return_Location_ID
0,SPB-68424,2024-02-01 00:00:27,711,신일해피트리아파트 앞,0,2024-02-01 00:02:52,04518,청기와빌딩,0,2,0.00,1986,NaN,내국인,ST-318,ST-2768
1,SPB-56565,2024-02-01 00:02:13,4387,성수역 1번출구 주변,0,2024-02-01 00:03:27,04353,코오롱디지털타워 3차앞,0,1,290.00,1995,M,내국인,ST-3121,ST-2466
2,SPB-67794,2024-02-01 00:00:58,1022,길동 사거리(초소앞),0,2024-02-01 00:03:30,03671,둔촌동역교차로,0,2,0.00,1960,M,내국인,ST-505,ST-2742
3,SPB-67045,2024-02-01 00:01:21,2228,뒷벌공원 옆,0,2024-02-01 00:03:48,02531,멤피스아파트 앞,0,2,700.00,1970,NaN,내국인,ST-758,ST-1916
4,SPB-30303,2024-02-01 00:00:54,3780,등촌서광아파트,0,2024-02-01 00:03:48,01172,가양3동 주민센터,0,2,492.22,1966,M,내국인,ST-2487,ST-1509

In [26]:
check.isnull().sum()

Bike_number                         0
Date_and_time_of_rental             0
Rental_location_number              0
Name_of_the_rental_location         0
Rental_rack                         0
Return_date                         0
Return_rack_number                  0
Return_Location_Name                0
Return_Location                     0
Usage_Time_min                      0
Usage_Distance_m                    0
Date_of_Birth                       0
Gender                         133467
User_Type                           0
Rental_Location_ID                  0
Return_Location_ID                  0
dtype: int64

In [152]:
df_7 = pd.read_csv('./data/preprocessed_data/Rental_usage_history_2212.csv')

In [153]:
df_7.head()

,Bike_number,Date_and_time_of_rental,Rental_location_number,Name_of_the_rental_location,Rental_rack,Return_date,Return_rack_number,Return_Location_Name,Return_Location,Usage_Time_min,Usage_Distance_m,Date_of_Birth,Gender,User_Type,Rental_Location_ID,Return_Location_ID
0,SPB-44695,2022-12-01 00:00:10,1933,개봉푸르지오아파트 상가,0,2022-12-01 00:00:20,01933,개봉푸르지오아파트 상가,0,0,0.00,\N,M,내국인,ST-678,ST-678
1,SPB-31562,2022-12-01 00:00:04,3007,MBC 앞,0,2022-12-01 00:00:26,03007,MBC 앞,0,0,111.20,1995,F,내국인,ST-2165,ST-2165
2,SPB-56324,2022-12-01 00:01:33,4468,가락1동주민센터,0,2022-12-01 00:01:58,04468,가락1동주민센터,0,0,0.00,1994,M,내국인,ST-2583,ST-2583
3,SPB-30175,2022-12-01 00:03:02,652,답십리 래미안엘파인아파트 입구,0,2022-12-01 00:03:30,00652,답십리 래미안엘파인아파트 입구,0,0,0.00,1981,M,내국인,ST-1447,ST-1447
4,SPB-37639,2022-12-01 00:00:18,1047,강동 한신휴플러스,0,2022-12-01 00:03:55,01075,천동초교 삼거리,0,3,492.34,1989,M,내국인,ST-1369,ST-1836

### 1차 대여소정보 주소 전처리

In [1]:
import pandas as pd

df = pd.read_csv('./data/raw_data/Rental_Location_ID_master_la_lo.csv')

In [2]:
print(df.columns)

Index(['Rental_Location_ID', 'Address_1', 'Address_2', 'Latitude',
       'Longitude'],
      dtype='object')

In [3]:
df_geng = df[df['Address_1'].str.contains('강남구', na=False)]

In [40]:
df.columns = ['Rental_Location_ID',
              'Address_1',
              'Address_2',
              'Latitude',
              'Longitude']

In [41]:
df['Address_1'] = df['Address_1'].str.replace(r'\s+', ' ', regex=True)

In [42]:
df['Address_1'] = df['Address_1'].str.replace('서울특별시 ', '', regex=False).str.replace('서울 ', '', regex=False)

In [6]:
pd.set_option('display.max_rows', None)  # 모든 행 표시
pd.set_option('display.max_columns', None)  # 모든 열 표시
pd.set_option('display.expand_frame_repr', False)  # 열이 화면 너비를 초과할 때 데이터프레임을 줄 바꿈하지 않도록 설정

In [45]:
df['Address_1'] = df['Address_1'].str.replace('경기 ', '경기도 ', regex=False)

In [50]:
df_geng = df[df['Address_1'].str.contains('경기', na=False)]

In [83]:
df_latitude_zero = df[df['Latitude'] == 0.0]

In [73]:
3177 = '경기도 성남시 수정구 ' + df_no_gu['Address_1']

In [ ]:
df.loc[df['Address_1'].str.contains('진관동|불광동|응암동|증산동|갈현동|녹번동'), 'Address_1'] = '은평구 ' + df['Address_1']

In [ ]:
df.loc[df['Address_1'].str.contains('미아동|번동|수유동'), 'Address_1'] = '강북구 ' + df['Address_1']

In [48]:
df_no_gu = df[~df['Address_1'].str.contains('구', na=False)]

In [52]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('상암동'), 'Address_1'] = '마포구 ' + df_no_gu['Address_1']

In [54]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('가산동|독산동'), 'Address_1'] = '금천구 ' + df_no_gu['Address_1']

In [57]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('양재동|서초동|반포동|잠원동|신원동'), 'Address_1'] = '서초구 ' + df_no_gu['Address_1']

In [66]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('진관동|불광동|응암동|증산동|갈현동|녹번동'), 'Address_1'] = '은평구 ' + df_no_gu['Address_1']

In [67]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('중화동|면목동|상봉동'), 'Address_1'] = '중랑구 ' + df_no_gu['Address_1']

In [70]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('사당동'), 'Address_1'] = '동작구 ' + df_no_gu['Address_1']

In [75]:
df_no_gu.loc[df_no_gu['Address_1'].str.contains('창동'), 'Address_1'] = '도봉구 ' + df_no_gu['Address_1']

In [12]:
first_df.to_csv('./data/preprocessed_data/Rental_Location_ID_master.csv', encoding='utf-8', index=False)

### 학교 주소 전처리

In [5]:
import pandas as pd

df = pd.read_csv('./data/raw_data/전국초중등학교위치표준데이터-20241017.csv')

In [7]:
seoul_df = df[df['시도교육청명'].str.contains('서울특별시교육청', na=False)]

In [9]:
gangnam_df = df[df['address_old'].str.contains('강남구', na=False)]

In [11]:
gangnam_df = gangnam_df.drop(columns=['시도교육청명'])

In [13]:
gangnam_df = gangnam_df.rename(columns={'위도': 'lat', '경도': 'lon'})

In [15]:
gangnam_df.to_csv('./data/preprocessed_data/gangnam_emh_schools_lat_lon.csv', encoding='utf-8', index=False)